/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background: #0a0a0a;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: cyan;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0ff2 0%, #000 70%);
}

.hero h2 {
  font-size: 50px;
  color: cyan;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  background: cyan;
  border: none;
  cursor: pointer;
}

/* PROJECT CARD */
.card {
  padding: 40px;
  margin: 20px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
}